.top-section {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  padding: 0 2rem;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 1.6rem;
}

.nav-header,
.link {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-header {
  text-shadow: 2px 3px 2px #b68d8da7;
  font-weight: 700;
}

.link {
  padding: 6px;
  font-size: 0.6em;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.link:hover {
  border: solid 1px #fff;
}

.active {
  border: solid 1px #fff;
}
