.top-section {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #570a0a;
  padding-right: 15px;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 20px;
  /* justify-content: space-around; */
  align-items: center;
  /* margin-right: 3px; */
  font-size: 2rem;
}

h2 {
  padding-left: 10px;
  padding-right: 10%;
  font-size: 2rem;
}

.nav-header,
.link {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-header {
  text-shadow: 4px 3px 2px #b68d8d;
  font-weight: 700;
  letter-spacing: 2px;
}

.link {
  padding: 6px;
  font-size: 0.6em;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.link:hover {
  background-color: #ffffff80;
  color:#570a0a;
  border: solid 1px #570a0a;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 5px 5px 4px #8d8e8f;
}

li:active {
  background-color: #60b0c0;
}

.active {
  background-color: #fff;
  color:#570a0a;
  border: solid 1px #570a0a;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 5px 5px 4px #8d8e8f;
}