html {
  background-color: #b68d8d;
  background-image: url('../../assets/MM-BG2.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-heading {
  margin-bottom: 2.5rem;
  color: #fff;
}

p {
  font-size: 1.25rem;
  color: #fff;
}
